@model IEnumerable<ProBet.Models.Match>
@{
    ViewData["Title"] = "Matches";
}

<h1 style="text-align:center; font-family:Elephant">Matches</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th style="border-right: solid; text-align: right">
                @Html.DisplayNameFor(model => model.HomeTeam)
            </th>
            <th style="border-right: solid; border-bottom: solid; text-align: center">
                @Html.DisplayNameFor(model => model.HomeOdds)
            </th>
            <th style="border-right: solid; border-bottom: solid; text-align: center">
                @Html.DisplayNameFor(model => model.DrawOdds)
            </th>
            <th style="border-right: solid; border-bottom: solid; text-align: center">
                @Html.DisplayNameFor(model => model.AwayOdds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayTeam)
            </th>
            <td>&nbsp;&nbsp;</td>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td style="border-right: solid; text-align:right">
                @Html.DisplayFor(modelItem => item.HomeTeam)
            </td>
            <td style="border-right: solid; border-bottom: solid; text-align: center">
                    @item.HomeOdds.ToString("0.00")
            </td>
            <td style="        border-right: solid;
        border-bottom: solid; text-align: center">
                @item.DrawOdds.ToString("0.00")
            </td>
            <td style="        border-right: solid;
        border-bottom: solid; text-align: center;">
                @item.AwayOdds.ToString("0.00")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayTeam)
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
                <a asp-controller="Matches" asp-action="InsertScore" asp-route-id="@item.Id">Insert Score</a>
            </td>
        </tr>
}
    </tbody>
</table>
