@model IEnumerable<ProBet.Models.Gambler>

@{
    ViewData["Title"] = "Index";
}

    <h1 style="text-align:center; font-family:Elephant">Gamblers</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Earnings)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="Gamblers" asp-action="GamblerHome" asp-route-id="@item.Id">@Html.DisplayFor(modelItem=> item.FullName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Earnings)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br/>
<h3><a asp-controller="Gamblers" asp-action="Create">Create New Gambler</a></h3>
