@model IEnumerable<ProBet.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BetTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BetMoney)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WinMoney)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gambler)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BetTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BetMoney)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinMoney)
            </td>
            <td>
                @if (item.Tip == 0)
                {
                    <p>X</p>
                }
                else
                {
                @Html.DisplayFor(modelItem => item.Tip);
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Match.HomeTeam) vs. @Html.DisplayFor(modelItem=>item.Match.AwayTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gambler.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
